@import url('./styles/animations/route-fade.scss');
@import url('./styles/animations/loading-fade.scss');
@import url('./styles/animations/fade.scss');
@import url('./styles/animations/spin.scss');

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	height: 100vh;
	transition: 300ms ease-in background;
	.offline {
		font-size: 1.2rem;
		color: #333;
		font-weight: 600;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&[theme="dark"] {
		background: #333;
		.offline {
			color: #aaa;
		}
		.swal2-popup {
			background: #333 !important;
			.swal2-content, .swal2-title {
				color: #8a8a8a !important;
			}
		}
	}
}
